.btn{
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        font-size: 1.6rem;
        transition: all .2s;

        border: none;
        cursor: pointer;
    }
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black,.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem rgba(black,.2);
    }
    &-animated{
        animation: moveInBottom 1s ease-out .75s backwards;
    }
    &-white{
        background-color: #fff;
        color: $color-grey-dark;

        &::after{
            background-color: #fff;
        }
    }
    &-green{
        background-color: $color-primary;
        color: #fff;

        &::after{
            background-color: $color-primary;
        }
    }
    &-text{
        display: inline-block;
        text-decoration: none;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        font-size: 1.6rem;
        padding: 3px;
        transition: all .3s;

        &:hover{
            color: #fff;
            background-color: $color-primary;
        }
    }

}